/* Réinitialisation de la feuille de styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #303841;
}

/* Styles pour l'en-tête du site */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6c22ff; /* Violet */
    color: #fff;
    padding: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1em 1em 1em 1em;
}

.home {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 1.2em;
    margin-right: 1em;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

input[type="text"] {
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

._23h0-EcaBUorIHC-JZyh6J {
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    left: 0;
    padding: 0px 20px 140px 0px;
    top: 0;
}

button[type="submit"] {
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #6c22ff; /* Violet */
    font-weight: bold;
    margin-left: 0.5em;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #6c22ff; /* Violet */
    color: #ffffff;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.user-profile a {
    color: #fff; /* Blanc */
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.user-profile img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-right: 0.5em;
}

.round-image-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 50px -50px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.user-profile a:hover {
    text-decoration: none;
    background-color: #fff; /* Blanc */
    color: #6c22ff; /* Violet */
}

/* Styles pour la barre de navigation */
nav {
    background-color: #6c22ff; /* Violet */
    padding: 1em;
    border-radius: 1em 1em 1em 1em;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 5em;
}

nav a {
    color: #fff; /* Blanc */
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    text-decoration: none;
    border-radius: 10px;
    background-color: #fff; /* Blanc */
    color: #6c22ff; /* Violet */
}

nav t {
    color: #fff; /* Blanc */
    text-decoration: none;
    font-weight: bold;
    padding: 3em 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav t:hover {
    text-decoration: none;
    border-radius: 10px;
    background-color: #fff; /* Blanc */
    color: #6c22ff; /* Violet */
}

/* Styles pour la section des posts */
.post {
    border: 1px solid #ffffff;
    border-radius: 10px;
    width: 1000px;
    height: 230px;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #6c22ff;
        color: #fff;
}

.container {
    width: 1300px; /* Ajustez la largeur selon vos besoins */
    height: 650px; /* Ajustez la hauteur selon vos besoins */
    overflow: auto;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    padding: 20px;
}

/* Styling personnalisé pour la barre de défilement */
.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-track {
    background-color: #6c22ff;
}

.container::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.post h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #fff;
}

.post p {
    margin-bottom: 1em;
    color: #fff;
}

.username {
    font-weight: bold;
    color: #000;

}

.like-dislike {
    display: flex;
    gap: 1em;

}

.like,
.dislike {
    background-color: #6c22ff;
    color: #fff;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    cursor: pointer;
    color: #fff; /* Blanc */
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.like:hover,
.dislike:hover {
    background-color: #fff; /* Blanc */
    color: #6c22ff; /* Violet */
}

.like:active,
.dislike:active {
    background-color: #4818b8;
}


.post a:hover {
    text-decoration: underline;
    color: #fff;
}

._3AStxql1mQsrZuUIFP9xSg {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
}

._3AStxql1mQsrZuUIFP9xSE {
    text-align: start;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
}

.icon-text {
    display: flex;  /* Pour aligner l'icône et le texte horizontalement */
    align-items: center;  /* Pour aligner l'icône et le texte verticalement */
}
.icon-text img {
    margin-right: 10px;  /* Pour ajouter un espace entre l'icône et le texte */
}


._2mHuuvyV9doV3zwbZPtIPG {
    display: inline-block;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

._3LS4zudUBagjFS7HjWJYxo {
    margin: 0 4px;
}

._3V4xlrklKBP2Hg51ejjjvz {
    vertical-align: middle;
}

._37gsGHa8DMRAxBmQS-Ppg8 {
    font-size: 6px;
    line-height: 20px;
}

._3ryJoIoycVkA88fy40qNJc {
    font-size: 25px;
    font-weight: 700;
    line-height: 16px;
    display: inline;
    line-height: 20px;
    text-decoration: none;
    vertical-align: baseline;
}

/* Styles pour le formulaire de création de post */
.arrow {
    border: solid white;
    margin: auto;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    transition: 0.5s;
}
.down {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-675deg);
}
.up {
    transform: rotate(180deg);
    -webkit-transform: rotate(-135deg);
}
.arrow.up:hover {
    border-color: #6c22ff;
}
.arrow.down:hover {
    border-color: #6c22ff;
}


.profile-container {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.profile-name {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}
.profile-description {
    font-size: 18px;
    margin-top: 20px;
}
.profile-contact {
    font-size: 16px;
    margin-top: 30px;
}


.pro {
    min-height: 40vh;
    display: flex;
    align-items: start;
    margin: 30px 200px 0px 210px;
    background-color: #6c22ff; /* Violet */
    padding: 1em;
    border-radius: 1em 1em 1em 1em;
    justify-content: start;
}

.pro h1 {
    font-size: 3em;
    margin: 20px 100px 0px 100px;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.pro h2 {
    font-size: 2em;
    margin: 110px -100px 0px -400px;
    align-items: start;
    justify-content: start;
    color: #fff;
}

.pro h4 {
    font-size: 2em;
    margin: 110px -900px 40px 120px;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.block {
    display: block;
}

.pro h3 {
    margin: 100px -500px 0px -600px;
    align-items: start;
    justify-content: start;
    color: #fff;
}