<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forum - Accueil</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <br>
    <header>
        <div class="logo">
            <a onclick="location.href='/'">Forum</a>
        </div>
        <form action="/search" method="POST">
            <div class="search-bar">
                <input type="text" id="search" name="search" placeholder="Rechercher...">
                <button type="submit">Rechercher</button>
            </div>
        </form>
        <div class="user-profile">
                {{ if .Connected }}
                    <a onclick="location.href='/profile'">
                        <img src="/static/img/userlogo.png" alt="Avatar">
                        {{.Name}}
                    </a>
                {{ else }}
                <a onclick="location.href='/login'">
                    <img src="/static/img/userlogo.png" alt="Avatar">
                    Connexion
                </a>
                {{ end }}
        </div>
    </header>
    <div class="container">
        <div class="content">
            <br>
            <br>
            <nav>
                {{ if .Connected }}
                <ul>
                    <li><a onclick="location.href='/newpost'">Créer un post</a></li>
                </ul>
                {{ else }}
                <ul>
                    <li><a onclick="location.href='/login'">Créer un post</a></li>
                </ul>
                {{ end }}
            </nav>
            <br>
            <nav>
                <br>
                <ul>
                    <t onclick="location.href='/'">Hot
                        <img src="/static/img/flame.png" width=30% height=30% alt="Avatar"></t>
                    <t onclick="location.href='/'">Best
                        <img src="/static/img/Best.png" width=30% height=30% alt="Avatar"></t><
                    <t onclick="location.href='/'">Top
                        <img src="/static/img/top.png" width=30% height=30% alt="Avatar"></t>
                    <t onclick="location.href='/'">New
                        <img src="/static/img/new.png" width=30% height=30% alt="Avatar"></t>
                </ul>
            </nav>
            <br>
            <main>
                {{ if .Posts }}
                {{ range .Posts }}
                <div class="home">
                    <section class="post">
                        <h2>{{ .Title }}</h2>
                        <p>{{ .Content }}</p>
                        <p>{{ .Date}}</p>
                        <p>Posté par <span class="username">{{.Username}}</span></p>
                        <div class="like-dislike">
                            <button class="like">J'aime</button>
                            <button class="dislike">Je n'aime pas</button>
                        </div>
                        <a onclick="location.href='/post/{{ .Title }}'">Lire la suite</a>
                    </section>
                </div>
                {{ end }}
                {{ else }}
                <p>Aucun post disponible pour le moment.</p>
                {{ end }}
            </main>
        </div>
    </div>
</body>
</html>
