<!DOCTYPE html>
<html>
<head>
    <title>Forum - Accueil</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/home.css">
</head>
<body>
<br>
<header>
    <div class="logo">
        <a onclick="location.href='./'">Forum</a>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Rechercher...">
        <button type="submit">Rechercher</button>
    </div>
    <div class="user-profile">
        <a onclick="location.href='./login'">
            <img src="./static/img/userlogo.png" alt="Avatar">
            {{.Name}}
        </a>
    </div>
</header>
<br>
<br>
<nav>
    <ul>
        <li><a href="./static/createpost.html">Créer un post</a></li>
    </ul>
</nav>
<br>
<main>
    {{ if .Posts }}
    {{ range .Posts }}
    <section class="post">
        <h2>{{ .Title }}</h2>
        <p>{{ .Content }}</p>
        <p>Posté par <span class="username">{{.Username}}</span></p>
        <div class="like-dislike">
            <button class="like">J'aime</button>
            <button class="dislike">Je n'aime pas</button>
        </div>
        <a href="/post">Lire la suite</a>
    </section>
    {{ end }}
    {{ else }}
    <p>Aucun post disponible pour le moment.</p>
    {{ end }}
</main>
</body>
</html>
