<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>{{.Post.Title}}</title>
</head>
<br>
<header>
    <div class="logo">
        <a onclick="location.href='/'">Forum</a>
    </div>
    <div class="user-profile">
        <a onclick="location.href='/login'">
            <img src="/static/img/userlogo.png" alt="Avatar">
            {{.Name}}
        </a>
    </div>
</header>
<br>
<main>
    <h1>{{.Post.Title}}</h1>
    <h2>{{.Post.Content}}</h2>

    <form action="/post/{{.Post.Title}}" method="POST" id="form">
        <div class="connexion">
            <div class="login-form">

                <div class="textb">
                    <input type="text" id="newComment" name="newComment" required>
                    <button class="NewComment" onclick="formSubmit()">New Comment</button>
                </div>

                {{ if .Commentates }}
                {{ range .Commentates }}
                <div class="comment">
                    <section class="comment">
                        <p>{{ .C.Content }}</p>
                        <p>Posté par <span class="username">{{.Username}}</span></p>
                    </section>
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </form>
</main>
</html>