<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>{{.Post.Title}}</title>
</head>
<br>
<header>
    <div class="logo">
        <a onclick="location.href='/'">Forum</a>
    </div>
    <form action="/search" method="POST">
        <div class="search-bar">
            <input type="text" id="search" name="search" placeholder="Rechercher...">
            <button type="submit">Rechercher</button>
        </div>
    </form>
    <div class="user-profile">
        {{ if .Connected }}
        <div class="icon-text">
            {{ if .Img }}
            <img src="{{ .Img }}" width=70% height=70% alt="Avatar"><a onclick="location.href='/profile'">{{ .Name}}</a>
            {{else}}
            <img src="static/img/userlogo.png" width=70% height=70% alt="Avatar"><a onclick="location.href='/profile'">{{ .Name}}</a>
            {{end}}
        </div>
        {{ else }}
        <div class="icon-text">
            <img src="/static/img/userlogo.png" width=70% height=70% alt="Avatar"><a onclick="location.href='/login'">{{ .Name}}</a>
        </div>
        {{ end }}
    </div>
</header>
<br>
<div class="container">
    <div class="content">
        <main>
            <div class="home">
                <div class="_23h0-EcaBUorIHC-JZyh6J">
                    <i class="arrow up" onclick="location.href='/up/{{ .Post.Key }}'"></i>
                    <a>{{ .Post.Upvote}}</a>
                    <i class="arrow down" onclick="location.href='/down/{{ .Post.Key }}'"></i>
                </div>
                <section class="post">
                    <div class="_3AStxql1mQsrZuUIFP9xSg">
                        <div class="_2mHuuvyV9doV3zwbZPtIPG"><a class="_3ryJoIoycVkA88fy40qNJc"> {{ .Post.Title }}</a></div>
                        <span class="_3LS4zudUBagjFS7HjWJYxo _37gsGHa8DMRAxBmQS-Ppg8 _3V4xlrklKBP2Hg51ejjjvz" role="presentation">•</span>
                        <div class="_2mHuuvyV9doV3zwbZPtIPG">publié par : {{ .Name}}</div>
                        <span class="_3LS4zudUBagjFS7HjWJYxo _37gsGHa8DMRAxBmQS-Ppg8 _3V4xlrklKBP2Hg51ejjjvz" role="presentation">•</span>
                        <div class="_2mHuuvyV9doV3zwbZPtIPG"> le {{ .Post.Date }}</div>
                    </div>
                    <br>
                    <div class="_2mHuuvyV9doV3zwbZPtIPG">{{ .Post.Content }}</div>
                </section>
            </div>

            <nav>
                <form action="/api/post/{{ .Post.Key }}" method="POST" id="form">
                    <div class="search-bar">
                        <div class="textb">
                            <input type="text" id="newComment" name="newComment" required>
                            <button type="submit">New Comment</button>
                        </div>
                    </div>
                </form>

            </nav>
        </main>
        <br>

        {{ if .Commentates }}
        {{ range .Commentates }}
        <div class="home">
            <div class="_23h0-EcaBUorIHC-JZyh6J">
                <i class="arrow up"></i>
                <a>{{ .C.Upvote}}</a>
                <i class="arrow down"></i>
            </div>
            <section class="post">
                <div class="_3AStxql1mQsrZuUIFP9xSg">
                    <div class="_2mHuuvyV9doV3zwbZPtIPG">publié par :</div>
                        <div class="_2mHuuvyV9doV3zwbZPtIPG"><h2>{{ .Username}}</h2></div>
                    <span class="_3LS4zudUBagjFS7HjWJYxo _37gsGHa8DMRAxBmQS-Ppg8 _3V4xlrklKBP2Hg51ejjjvz" role="presentation">•</span>
                    <div class="_2mHuuvyV9doV3zwbZPtIPG"> le {{ .C.Date }}</div>
                </div>
                <br>
                <div class="_2mHuuvyV9doV3zwbZPtIPG">{{ .C.Content }}</div>
            </section>
        </div>
        {{ end }}
        {{ else }}
        <p>Aucun post disponible pour le moment.</p>
        {{ end }}
    </div>
</div>
</html>