<!DOCTYPE html>
<html lang="en">
<head>
  <title>Forum - Accueil</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./static/css/search.css">
</head>
<body>
<br>
<header>
  <div class="logo">
    <a onclick="location.href='./'">Forum</a>
  </div>
  <form action="/search" method="POST">
    <div class="search-bar">
      <input type="text" id="search" name="search" placeholder="Rechercher...">
      <button type="submit">Rechercher</button>
    </div>
  </form>
  <div class="user-profile">
    <a onclick="location.href='./login'">
      {{ if .Img }}
      <img src="{{ .Img }}" width=70% height=70% alt="Avatar"><a onclick="location.href='/profile'">{{ .Name}}</a>
      {{else}}
      <img src="static/img/userlogo.png" width=70% height=70% alt="Avatar"><a onclick="location.href='/profile'">{{ .Name}}</a>
      {{end}}
    </a>
  </div>
</header>
<br>
<br>
<div class="container">
  <div class="content">
    <main>
      {{ if .Posts }}
      {{ range .Posts }}
      <div class="home">
        <section class="post">
          <h2>{{ .Title }}</h2>
          <p>{{ .Content }}</p>
          <p>{{ .Date}}</p>
          <p>Posté par <span class="username">{{.Username}}</span></p>
          <div class="like-dislike">
            <button class="like">J'aime</button>
            <button class="dislike">Je n'aime pas</button>
          </div>
          <a href="/post">Lire la suite</a>
        </section>
      </div>
      {{ end }}
      {{ else }}
      <p>Aucun post disponible pour le moment.</p>
      {{ end }}
    </main>
  </div>
</div>
</body>
</html>
